<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Menu label:</strong>
  <%= @page.menu_label %>
</p>

<p>
  <strong>H1:</strong>
  <%= @page.h1 %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @page.published_at %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @page.priority %>
</p>

<%= link_to 'Edit', edit_page_path(@page.slug) %> |
<%= link_to 'Back', pages_path %> |
<%= link_to 'Destroy', @page.slug, method: :delete, data: { confirm: 'Are you sure?' } %>
