<!DOCTYPE html>
<html>
  <head>
    <title><%= @page ? @page.title : 'Main menu' %></title>
    <meta name="description" content="<%= @page ? @page.content : 'This is main menu' %>"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  </head>

  <body>
  <h1><%= @page ? @page.h1 : 'Main menu' %></h1>
    <%= yield %>
  </body>
</html>
